
<launch>
  <arg name="namespace" default="/"/>
  <arg name="cmd_timeout" default="0.5"/>
  <!-- Our Map Location -->
  <arg name="world_name" default="~/catkin_ws/src/Autonomous_Systems_Project_Team_37/Autonomous_Systems_Project_Team_37_Gazebo/ Map_1.world"/>

  <!-- Initial Vehicle pose -->
  <arg name="x" default="-2.0"/>               <!--Xveh = 2-->>
  <arg name="y" default="-2.0"/>               <!--Yveh = 2-->>
  <arg name="z" default="0.0"/>
  <arg name="roll" default="0.0"/>
  <arg name="pitch" default="0.0"/>
  <arg name="yaw" default="3.0"/>

    <!-- Launch Vehicle Model. -->
  <include file="$(find ackermann_vehicle_description)/launch/ackermann_vehicle.launch">
    <arg name="namespace" value="$(arg namespace)"/>
  </include>

  <group ns="$(arg namespace)">
    <!-- Create the world. -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="world_name" value="$(arg world_name)"/>
    </include>

    <!-- Spawn the vehicle. -->
    <node name="spawn_vehicle" pkg="gazebo_ros" type="spawn_model"
          args="-urdf -param robot_description -model ackermann_vehicle
                -gazebo_namespace /$(arg namespace)/gazebo
                -x $(arg x) -y $(arg y) -z $(arg z)
                -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)"/>

    <node name="controller_spawner" pkg="controller_manager" type="spawner"
          args="$(find ackermann_vehicle_gazebo)/config/em_3905_joint_ctrlr_params.yaml"/>

    <!-- Launching Our Files. -->
    <node pkg="Autonomous_Systems_Project_Team_37" type="Control_Module_Longitudinal_Motion.py"
           name="Control_Module_Longitudinal_Motion" output="screen">
    </node>       
    <node pkg="Autonomous_Systems_Project_Team_37" type="Control_Module_Lateral_Motion.py"
           name="Control_Module_Lateral_Motion" output="screen">
        <rosparam>
          Lateral_Controller: 2.0 
        </rosparam>
    </node> 
        <node pkg="Autonomous_Systems_Project_Team_37" type="Ackermann_Bot_Control_Module.py"
           name="Ackermann_Bot_Control_Module" output="screen">
    </node>

    <!-- Launching rqt_graph. -->  
    <node pkg="rqt_graph" type="rqt_graph" name="rqt_graph"/>

    <!-- Model Controller>
    <node name="ackermann_controller" pkg="ackermann_vehicle_gazebo"
          type="ackermann_controller">
      <param name="cmd_timeout" value="$(arg cmd_timeout)"/>
      <rosparam file="$(find ackermann_vehicle_gazebo)/config/em_3905_ackermann_ctrlr_params.yaml" command="load"/>
    </node> -->
  </group>
</launch>